services:

  ev:
    build: ./ev-simulator
    ports:
      - "5001:5001"
    restart: always

  station:
    build: ./station-simulator
    ports:
      - "5002:5002"
    restart: always

  ai:
    build: ./ai-engine
    ports:
      - "5003:5003"
    restart: always

  orchestrator:
    build: ./ballerina-orchestrator/orchestrator
    ports:
      - "8080:8080"
    depends_on:
      - ev
      - station
      - ai
    restart: always