services:

  ev:
    build: ./ev-simulator
    ports:
      - "5001:5001"

  station:
    build: ./station-simulator
    ports:
      - "5002:5002"

  ai:
    build: ./ai-engine
    ports:
      - "5003:5003"

  orchestrator:
    build: ./ballerina-orchestrator/orchestrator
    ports:
      - "8080:8080"
    depends_on:
      - ev
      - station
      - ai

  wso2am:
    image: wso2/wso2am:latest
    container_name: wso2am
    ports:
      - "9443:9443"
      - "8280:8280"
      - "8243:8243"
    environment:
      JVM_MEM_OPTS: "-Xms512m -Xmx1024m"