name: GreenCharge AI CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Setup Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Login to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build & Push AI Engine
      - name: Build and Push AI
        uses: docker/build-push-action@v5
        with:
          context: ./ai-engine
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/greencharge-ai-ai:latest

      # Build & Push EV Simulator
      - name: Build and Push EV
        uses: docker/build-push-action@v5
        with:
          context: ./ev-simulator
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/greencharge-ai-ev:latest

      # Build & Push Station Simulator
      - name: Build and Push Station
        uses: docker/build-push-action@v5
        with:
          context: ./station-simulator
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/greencharge-ai-station:latest

      # Build & Push Orchestrator
      - name: Build and Push Orchestrator
        uses: docker/build-push-action@v5
        with:
          context: ./ballerina-orchestrator/orchestrator
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/greencharge-ai-orchestrator:latest